.background{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    width: 100%;
    height: var(--field-size);
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    border-radius: var(--border-radius);
}

.background.fieldset{
    border: none;
    border-radius: 0;
}

.containerLabel{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.label{
    font-weight: var(--bold);
    white-space: nowrap;
}

.strike .label{
    color: var(--layer-3-light);
    text-decoration: line-through;
}

.containerLabel > .fade{
    width: var(--field-size);
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--layer-3));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.containerChildren{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}