.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
    background-color: var(--layer-2);
    border-top: var(--border-width) solid var(--layer-2-border);
    border-bottom: var(--border-width) solid var(--layer-2-border);
}

.center{
    max-width: 800px;
    margin: auto;
}

.containerBtn{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-very-large);
}