.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
    background-color: var(--layer-2);
    border-top: var(--border-width) solid var(--layer-2-border);
    border-bottom: var(--border-width) solid var(--layer-2-border);
}

.center{
    max-width: 800px;
    margin: auto;
}

.lead {
    margin: 3rem 0 0;

    font-size: 1.5rem;
    line-height: 1.6;

    opacity: 0.65;
}

.emphasis {
    margin: 0.5rem 0 0;

    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    line-height: 1.1;
}

.description {
    max-width: 32ch;
    margin: 2rem auto 0;

    font-size: 1.25rem;
    line-height: 1.8;

    opacity: 0.8;
}

.actions {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .cta {
        padding: 8rem 1.5rem;
    }

    .lead {
        font-size: 1.25rem;
    }

    .description {
        font-size: 1.1rem;
    }
}