.btn{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--field-size);
    border: var(--border-width) solid var(--accent);
    border-radius: var(--border-radius);
    color: var(--accent);

    background-color: var(--layer-3);
}

.btn.fieldset{
    border: none;
    border-radius: 0;
}