.frame{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.header{
    padding-bottom: var(--spacing-medium);
    border-bottom: var(--border-width) solid var(--layer-1-border);
}