.card{
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--border-radius);
}

.header{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    width: 100%;
    height: var(--field-size);
    border-bottom: var(--border-width) solid var(--layer-2-border);
    
}

.label{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    padding-left: var(--spacing-medium);
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.label > .fade{
    width: var(--field-size);
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--layer-2));
    position: absolute;
    top: 0;
    right: 0;
}

.containerBtns{
    display: -webkit-flex;
    display: flex;
}

.btn{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--field-size);
    height: 100%;
}

.btn > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--accent);
}

.containerChildren{
    padding: var(--spacing-medium);
}