.frame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--border-width);
    background-color: var(--layer-1-border);
}

.frame > .column{
    min-width: 0;
    background-color: var(--layer-1);
}

.columnLeft{
    padding-right: var(--spacing-medium);
}

.columnRight{
    padding-left: var(--spacing-medium);
}

.frameBtns{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
}

@media screen and (max-width: 600px){
    .frame{
        grid-template-columns: 100%;
    }

    .columnLeft{
        padding: 0;
        padding-bottom: var(--spacing-medium);
    }

    .columnRight{
        padding: 0;
        padding-top: var(--spacing-medium);
    }
}