.frame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-medium);
}

.frame > .column{
    min-width: 0;
}

@media screen and (max-width: 600px){
    .frame{
        grid-template-columns: 100%;
    }
}