.background{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.background > .header{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding-left: var(--field-size);
    padding-right: var(--spacing-large);
    background-color: var(--layer-2);
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.window{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: var(--modal-width);
    height: var(--modal-height);
    background-color: var(--layer-2);
    overflow: hidden;
    z-index: 1;
}

.lstSlides{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    transition: var(--transition);
}

.lstSlides > li{
    min-width: 100%;
    height: 100%;
}

/* Slide Styles */
.slide{
    width: 100%;
    height: 100%;
    background-color: var(--layer-2);
    position: relative;
    z-index: 0;
}

.slide .header{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-2-translucent);
    backdrop-filter: blur(var(--blur));
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.slide .label{
    flex: 1;
    padding-left: var(--spacing-medium);
    font-weight: bolder;
}

.containerBtns{
    display: -webkit-flex;
    display: flex;
}

.containerScroll{
    width: 100%;
    height: 100%;
    padding-top: var(--field-size);
    overflow: scroll;
}

.containerChildren{
    min-height: 100%;
    padding: var(--spacing-medium);
    position: relative;
    z-index: 1;
}