.frame{
    z-index: 1;
}

.sidebar{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    width: var(--sidebar-width);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    background-color: var(--layer-2);
    border-right: var(--border-width) solid var(--layer-2-border);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.nav{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1;
}

.lstLinks{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.link{
    display: -webkit-inline-flex;
    display: inline-flex;
    gap: var(--spacing-very-small);
    align-items: center;
    padding-right: var(--spacing-medium);
}

.link > .containerIcon{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--field-size);
    height: var(--field-size);
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    border-radius: var(--border-radius);
}

.link > .containerIcon > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--accent);
}

.link .label{
    font-weight: bolder;
    color: var(--layer-2-light);
}

.link.selected > .containerIcon{
    background-color: var(--accent);
    border: none;
}

.link.selected svg{
    fill: var(--contrast);
}

.link.selected .label{
    color: var(--contrast);
}

.main{
    padding: var(--spacing-medium);
    margin-left: var(--sidebar-width);
    z-index: 1;
}