.frame{
    
}

.sidebar{
    width: var(--sidebar-width);
    background-color: var(--layer-2);
    border-right: var(--border-width) solid var(--layer-2-border);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.lstLinks{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    background-color: red;
}

.link{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-very-small);
    background-color: orange;
}

.main{
    padding: var(--spacing-medium);
    margin-left: var(--sidebar-width);
}