/******************
** Option Styles **
******************/

.background{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    width: 100%;
    height: var(--field-size);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    border-radius: var(--border-radius);
}

.background.fieldset{
    border: none;
    border-radius: 0;
}

.label{
    flex: 1;
    font-weight: var(--bold);
}

.value{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    color: var(--layer-3-light);
}

.value > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--layer-3-light);
}

/*****************
** Slide Styles **
******************/

.slide{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--layer-2);
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
    z-index: 1;
}

.slide > .slide{
    z-index: 2;
}

.slide.open{
    margin-left: 0px;
}

.slide.closed{
    margin-left: 100%;
}

.header{
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-2-translucent);
    backdrop-filter: blur(var(--blur));
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.header > .label{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: var(--bold);
}

.btn{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    height: 100%;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    color: var(--accent);
    position: absolute;
}

.btn > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--accent);
}

.btnBack{
    left: 0;
    top: 0;
    bottom: 0;
}

.containerScroll{
    flex: 1;
    min-height: 0;
    padding-top: var(--field-size);
    overflow: scroll;
}

.containerChildren{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100%;
    max-width: var(--form-width);
    padding: var(--spacing-medium);
    margin: auto;
}

.wrapperChildren{
    width: 100%;
}