.header{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding-left: var(--field-size);
    padding-right: var(--field-size);
    background-color: var(--layer-2);
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.containerCTA{
    display: -webkit-flex;
    display: flex;
    flex: 1;
    justify-content: right;
}

.containerChildren{
    margin-top: var(--header-height);
}