.btn{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-large) 0 var(--spacing-large);
    height: var(--field-size);
    background-color: var(--accent);
    border-radius: var(--border-radius);
    font-weight: bolder;
    color: var(--accent-contrast);
    position: relative;
}

.btn.wide{
    width: 100%;
}

.btn:disabled{
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    color: var(--layer-3-light);
}

.containerSpinner{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.description{
    font-size: var(--font-size-small);
    color: var(--layer-2-light);
    margin-left: var(--spacing-small);
    margin-top: var(--spacing-very-small);
}