.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);

}

.center{
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-huge);
    align-items: center;
    margin: auto;
}


@media (max-width: 900px) {
    .center{
        grid-template-columns: 1fr;
    }
}