.frame{
    
}

.sidebar{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    width: var(--sidebar-width);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    background-color: var(--layer-2);
    border-right: var(--border-width) solid var(--layer-2-border);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.nav{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1;
}

.lstMenu{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.btn{
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-small);
    height: var(--field-size);
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    border-radius: var(--border-radius);
    color: var(--layer-2-light);
}

.btn > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--layer-2-light);
}

.btn:hover,
.btn:active,
.btn:focus,
.btn.selected{
    background-color: var(--accent);
    font-weight: bolder;
    color: var(--accent-contrast)
}

.btn:hover > svg,
.btn:active > svg,
.btn:focus > svg,
.btn.selected > svg{
    fill: var(--accent-contrast);
}

.main{
    margin-left: var(--sidebar-width);
}