.overlay{
    justify-content: center;
    align-items: center;
    background-color: var(--layer-1-translucent);
    backdrop-filter: blur(var(--blur));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay.closed{
    display: none;
}

.overlay.open{
    display: -webkit-flex;
    display: flex;
}

.window{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: var(--modal-width);
    height: var(--modal-height);
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.window > .header{
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-2);
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: relative;
}

.window > .header > .label{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}

.window > .header > .btnClose{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.window > .containerScroll{
    width: 100%;
    height: 100%;
    padding: var(--spacing-medium);
    z-index: 1;
}

/* SlideModalOption Styles */
.btnOption{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    border-radius: var(--border-radius);
}

.btnOption > .label{
    flex: 1;
    padding-left: var(--spacing-medium);
    font-weight: bolder;
}

.btnOption > .containerIcon{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--field-size);
    height: 100%;
}

.btnOption > .containerIcon > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--accent);
}

/* SlideModalSlide Styles */
.slide{
    width: 100%;
    height: 100%;
    background-color: var(--layer-2);
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
    z-index: 0;
}

.slide .slide{
    z-index: 3;
}

.slide.open{
    margin-left: 0;
}

.slide.closed{
    margin-left: 100%;
}

.slide > .header{
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-2-translucent);
    backdrop-filter: blur(var(--blur));
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.slide > .header > .label{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}

.slide > .header > .btnBack{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    color: var(--accent);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.slide > .header > .btnBack > svg{
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--accent);
}

.slide > .header > .btnClose{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.slide .containerScroll{
    height: 100%;
    padding-top: var(--field-size);
    overflow: scroll;
}

.slide > .containerScroll > .containerChildren{
    padding: var(--spacing-medium);
}