.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
}

.center{
    max-width: 800px;
    margin: auto;
}

.problem {
    font-size: 1.25rem;
    opacity: 0.75;
}

.solution {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}

.mantra {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    font-weight: 600;
    letter-spacing: 0.04em;
}