.value{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: var(--inner-field-size);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
    background-color: var(--layer-4);
    border-radius: var(--inner-border-radius);
    border: var(--border-width) solid var(--layer-4-border);
    font-size: var(--inner-font-size);
    color: var(--accent);
}