.background{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
    background: linear-gradient(45deg, var(--accent-translucent), transparent);
}

.center{
    max-width: 800px;
}

.containerBtns{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
}