*{
	font-size: var(--font-size);
	color: var(--contrast);
	text-align: start;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
}

*::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

body{
	background-color: var(--layer-1);
	font-family: var(--font);
	line-height: 1.5; /* TextArea scaling won't work unless line-height is set to a fixed value */
	scroll-behavior: smooth;
}

svg{
	fill: var(--contrast);
}

input,
textarea,
select {
	appearance: none;
  	-webkit-appearance: none;
  	font-size: 16px !important;
  	font-family: inherit !important;
	caret-color: var(--accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  	-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  	-webkit-text-fill-color: var(--contrast) !important;
  	transition: background-color 9999s ease-out 0s;
	font-size: 16px !important;
  	font-family: inherit !important;
}

::selection{
	background-color: var(--accent-translucent);
}