.toggle{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 42px;
    height: var(--inner-field-size);
    background-color: var(--layer-4);
    border: var(--border-width) solid var(--layer-4-border);
    border-radius: calc(var(--inner-field-size) / 2);
    outline: none;
    position: relative;
    transition: var(--transition);
}

.dot{
    --dot-size: calc(var(--inner-field-size) - 2px - 2px); /* 2px margin around */
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--white);
    border-radius: 50%;
    margin-left: 2px;
    transition: var(--transition);
}

.toggle.on{
    background-color: var(--green);
    border: none;
}

.toggle.on > .dot{
    margin-left: 20px;
}