.inputPassword{
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-3);
    border: var(--border-width) solid var(--layer-3-border);
    border-radius: var(--border-radius);
    position: relative;
}

.fieldset{
    border: none !important;
    border-radius: 0;
}

.inputPassword > input{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: var(--scaled-width-and-height);
    height: var(--scaled-width-and-height);
    padding: 0 var(--scaled-spacing-medium) 0 var(--scaled-spacing-medium);
    font-size: 16px;
    transform: scale(var(--scale));
    transform-origin: top left;
}

.inputPassword > button{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--spacing-medium) 0 var(--spacing-medium);
    color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
}

.inputPassword > input::placeholder {
    color: var(--layer-3-light);
    opacity: 1; /* Firefox */
}
  
.inputPassword > input::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--layer-3-light);
}