.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
    background-color: var(--layer-2);
    border-top: var(--border-width) solid var(--layer-2-border);
    border-bottom: var(--border-width) solid var(--layer-2-border);
}

.center{
    max-width: 800px;
    margin: auto;
}

.header {
    max-width: 700px;
    margin-bottom: 5rem;
}

.lead {
    margin-top: 2rem;

    font-size: 1.3rem;
    line-height: 1.7;

    opacity: 0.75;
}