.overlay{
    justify-content: center;
    align-items: center;
    background-color: var(--layer-1-translucent);
    backdrop-filter: blur(var(--blur));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.overlay.open{
    display: -webkit-flex;
    display: flex;
}

.overlay.closed{
    display: none;
}

.window{
    width: var(--modal-width);
    max-height: var(--modal-height);
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}

.header{
    display: -webkit-flex;
    display: flex;
    height: var(--field-size);
    background-color: var(--layer-2-translucent);
    backdrop-filter: blur(var(--blur));
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.header > .btn{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);
}

.header > .btn{
    color: var(--accent);
}

.header > .label{
    display: -webkit-flex;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.containerScroll{
    width: 100%;
    height: 100%;
    padding-top: var(--field-size);
    overflow: scroll;
}

.containerChildren{
    padding: var(--spacing-medium);
}