.overlay{
    justify-content: center;
    align-items: center;
    padding: var(--spacing-large);
    background-color: var(--layer-1-translucent);
    backdrop-filter: blur(var(--blur));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.overlay.open{
    display: -webkit-flex;
    display: flex;
}

.overlay.closed{
    display: none;
}

.window{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--modal-width);
    max-height: var(--modal-height);
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--border-radius);
    box-shadow: 0 0 200px var(--layer-1);
    overflow: hidden;
    position: relative;
    border-radius: var(--outer-border-radius);
}

.header{
    width: 100%;
    height: var(--field-size);
    background-color: var(--layer-2-translucent);
    backdrop-filter: blur(var(--blur));
    border-bottom: var(--border-width) solid var(--layer-2-border);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.header > .label{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: max-content;
    height: 100%;
    padding-left: var(--spacing-medium);
    font-weight: bolder;
    white-space: nowrap;
}

.header .btnClose{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    background-color: var(--layer-2);
    color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.header .btnClose > .fade{
    width: var(--field-size);
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--layer-2));
    position: absolute;
    top: 0;
    left: calc(var(--field-size) * -1);
}

.containerScroll{
    width: 100%;
    height: 100%;
    min-height: 0;
    padding-top: var(--field-size);
    overflow: scroll;
}

.containerChildren{
    padding: var(--spacing-medium);
}