.background{
    width: 100%;
    height: var(--field-size);
    padding: 3px; /* Should be based off global css variabled */
    background-color: var(--layer-3);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--layer-3-border);
    overflow: hidden;
}

.background.fieldset{
    border: none;
    border-radius: 0;
}

.lst{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
    width: 100%;
    height: 100%;
}

.lst > li{
    flex: 1;
}

.lst > li > .btn{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--inner-border-radius);
}

.lst > li > .btn > svg{
    width: var(--inner-icon-size);
    height: var(--inner-icon-size);
    opacity: 0;
    transition: var(--transition);
}

.lst > li > .btn.selected > svg{
    opacity: 1;
}