.heading{
    font-size: var(--font-size-huge);
    font-weight: var(--bold);
    color: var(--contrast);
    text-transform: capitalize;
    line-height: normal;
}

.heading.margin{
    margin-bottom: var(--spacing-large);
}