.background{
    padding-top: var(--spacing-huge);
    padding-right: var(--spacing-large);
    padding-bottom: var(--spacing-huge);
    padding-left: var(--spacing-large);
}

.center{
    max-width: 800px;
    margin: auto;
}