.overlay{
    justify-content: center;
    align-items: center;
    background-color: var(--layer-1-translucent);
    backdrop-filter: blur(var(--blur));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.overlay.open{
    display: -webkit-flex;
    display: flex;
}

.overlay.closed{
    display: none;
}

.window{
    width: var(--alert-width);
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--outer-border-radius);
}

.header{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--field-size);
    border-bottom: var(--border-width) solid var(--layer-2-border);
}

.header > .label{
    font-weight: var(--bold);
}

.containerContent{
    padding: var(--spacing-medium);
}

.containerIcon{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
}

.containerIcon > div{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-container-size);
    height: var(--icon-container-size);
    background-color: var(--layer-3);
    border: 1px solid var(--layer-3-border);
    border-radius: 50%;
}

.containerIcon svg{
    width: var(--icon-size-very-large);
    height: var(--icon-size-very-large);
    fill: var(--accent);
}

.msg{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--layer-2-light);
    text-align: center;
    margin-bottom: var(--spacing-medium);
}

.frameBtns{
    display: -webkit-flex;
    display: flex;
    gap: var(--spacing-small);
}