.btn{
    align-items: center;
    height: var(--field-size);
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    background-color: var(--layer-2);
    border: var(--border-width) solid var(--layer-2-border);
    border-radius: var(--border-radius);
    font-weight: bolder;
    color: var(--accent);
}

.btn.narrow{
    display: -webkit-inline-flex;
    display: inline-flex;
}

.btn.wide{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}